{% extends "base.html" %}
{% load static tailwind_tags %}
{% load i18n %}


{% block title %}
Home
{% endblock title %}


{% block heading %}

<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
  <h1 class="text-3xl font-bold text-gray-900"> {% translate "Tableau de bord" %} </h1>
    <div id="processing_message" class="text-lg text-center font-bold hidden animate-blink">
      <p>{% translate "Veuillez patienter pendant le chargement" %}</p>
  </div>
  <div class = "flex justify-end items-center ml-6">

    {% get_current_language as CURRENT_LANGUAGE %}
    {% get_available_languages as AVAILABLE_LANGUAGES %}
    {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
    <div class="languages">
      <p class="text-m font-medium text-gray-700">{% translate "Choisir une langue" %}:</p>
      <ul class="languages flex space-x-2">
      {% for language in languages %}
        <li>
        <a id="language_{{ language.code }}" href="/{{ language.code }}/"
          {% if language.code == CURRENT_LANGUAGE %} class="active text-blue-600"{% endif %}>
          <img src="/static/assets/img/{{ language.code }}_flag.png" alt="{{ language.name_local }}"
                        class="w-6 h-auto inline-block">
        </a>
        </li>
      {% endfor %}
      </ul>
    </div>
  
  </div>
  
</div>

{% endblock heading %}

{% block content %}


<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  <!-- Replace with your content  AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA -->
  <div class="px-4 py-6 sm:px-0">
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="relative bg-white overflow-hidden">
      <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 sm:static">
        <div class="sm:max-w-lg">
            <style>
              h4{ color:red}
            </style>
            <h4 class="font-semibold">{% if message %}{{ message }}{% endif %}</h4>
            <form id="connect_form" method="post" action="{% url 'connect_profile' %}" class="space-y-4">
                {% csrf_token %}
                <div>
                    <label for="profile" class="block font-medium text-gray-700">
                        {% translate "Sélectionnez un profil de connexion" %}
                    </label>
                    <select name="profile" id="profile" class="w-full px-4 py-3 ring-1 ring-cyan-700 rounded-xl">
                        <!-- Option par défaut -->
                        <option value="-1" {% if not current_profile %}selected{% endif %}>
                            ---------------------------------------
                        </option>
                        <!-- Liste des profils -->
                        {% for profile in profiles %}
                            <option value="{{ profile.id }}" {% if current_profile and current_profile.id == profile.id %}selected{% endif %}>
                                {{ profile.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <button id="connect_button" type="submit" class="text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-indigo-200 font-medium rounded-lg text-sm px-4 py-2 inline-flex items-center">
                        <div id="spinner_connect" class="spinner_info" hidden role="status">
                            <svg aria-hidden="true" class="w-5 h-5 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-white" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                            </svg>
                            <span class="sr-only">Loading...</span>
                        </div>
                        {% translate "Connect" %}
                    </button>
                </div>
            </form>
            <script>
                document.getElementById('connect_form').addEventListener('submit', function(e) {
                    // Activer le spinner
                    const spinner = document.getElementById('spinner_connect');
                    const connectButton = document.getElementById('connect_button');
                    spinner.hidden = false;
                    connectButton.disabled = true;

                    // Désactiver les autres boutons
                    document.getElementById('button_start_import').classList.add('opacity-50', 'pointer-events-none');
                    document.querySelectorAll('.languages a').forEach(button => {
                        button.classList.add('opacity-50', 'pointer-events-none');
                    });
                    document.getElementById('dashboard_tab').classList.add('opacity-50', 'pointer-events-none');
                    document.getElementById('logbook_tab').classList.add('opacity-50', 'pointer-events-none');

                    // Afficher le message dans la header page
                    const processingMessage = document.getElementById('processing_message');
                    processingMessage.classList.remove('hidden');
                });
            </script>

            <style>
                /* Animation pour le texte qui clignote */
                @keyframes blink {
                    0%, 100% { opacity: 1; color: #16a34a; }
                    50% { opacity: 0; } /* Disparaît temporairement */
                }
                .animate-blink {
                    animation: blink 1.5s infinite;
                }
            </style>




        </div>


      </div>

      <div class="pt-5 pb-80 sm:pt-20 sm:pb-40 lg:pt-30 lg:pb-48">
        <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 sm:static">
          <div class="sm:max-w-lg">
            <h1 class="text-4xl font font-extrabold tracking-tight text-gray-900 sm:text-6xl">{% translate "Migration des données de l'observatoire" %}</h1>
            <p class="mt-4 text-xl text-gray-500">
              {% translate "L'Observatoire des Écosystèmes Pélagiques Tropicaux exploités de l'IRD a pour vocation principale la collecte, la validation, l'archivage et l'analyse des données de la pêche thonière tropicale française dans les océans indien et atlantique." %}
            </p>
          </div>
          <div>
            <div class="mt-10">
              <!-- Decorative image grid -->
              <div aria-hidden="true"
                class="pointer-events-none lg:absolute lg:inset-y-0 lg:max-w-7xl lg:mx-auto lg:w-full">
                <div
                  class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
                  <div class="flex items-center space-x-6 lg:space-x-8">
                    <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8">
                      <div class="w-44 h-64 rounded-lg overflow-hidden sm:opacity-0 lg:opacity-100">
                        <img src="{% static '/assets/img/home/1.png' %}" alt=""
                          class="w-full object-center object-cover">
                      </div>
                      <div class="w-44 h-64 rounded-lg overflow-hidden">
                        <img src="{% static '/assets/img/home/2.png' %}" alt=""
                          class="w-full object-center object-cover">
                      </div>
                    </div>
                    <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8">
                      <div class="w-44 h-64 rounded-lg overflow-hidden">
                        <img src="{% static '/assets/img/home/3.png' %}" alt=""
                          class="w-full object-center object-cover">
                      </div>
                      <div class="w-44 h-64 rounded-lg overflow-hidden">
                        <img src="{% static '/assets/img/home/7.png' %}" alt=""
                          class="w-full object-center object-cover">
                      </div>
                      <div class="w-44 h-64 rounded-lg overflow-hidden">
                        <img src="{% static '/assets/img/home/5.png' %}" alt=""
                          class="w-full object-center object-cover">
                      </div>
                    </div>
                    <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8">
                      <div class="w-44 h-64 rounded-lg overflow-hidden">
                        <img src="{% static '/assets/img/home/6.png' %}" alt=""
                          class="w-full object-center object-cover">
                      </div>
                      <div class="w-44 h-64 rounded-lg overflow-hidden">
                        <img src="{% static '/assets/img/home/4.png' %}" alt=""
                          class="w-full object-center object-cover">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <a id="button_start_import" href="{% url 'logbook' %}"
                class="inline-block text-center bg-indigo-600 border border-transparent rounded-md py-3 px-8 font-medium text-white hover:bg-indigo-700">
                {% translate "Commencer l'importation" %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /End replace -->
</div>
{% endblock content %}